---
layout: base
title: Blog
description: 'News, inspirations, and thoughts'
pagination:
  data: collections.allPosts
  size: 15
permalink: 'blog/{% if pagination.pageNumber >=1 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <header class="full | section">
    <div class="section__inner region | text-center color-text" style="--region-space-top: var(--space-xl-2xl);">
      <h1 style="font-size: var(--step-1); font-family: var(--font-base);">{{ title }}</h1>
      <p style="font-size: var(--size-step-6); font-family: var(--font-display);">{{ description }}</p>
    </div>
  </header>


<section class="region | flow">
  <hr>
    <custom-masonry layout="thirds">
  		{% asyncEach item in pagination.items %}
  			{% include "partials/card-blog.njk" %}
  		{% endeach %}
  	</custom-masonry>
</section>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/blog-pagination.njk' %}
  {% endif %}
</div>
