---
layout: base
title: "Contact"
description: "Get in touch If you have any questions or just want to say hello, please don’t hesitate to contact us. We’ll get back to you soon. 305 Vine StreetSuite #3Liverpool, NY, 13088"
date: 2023-11-21
---
<div class="wrapper">
    <header class="region | prose | flow">
        <h1>{{ title }}</h1>
        <div class="cluster">
            <a class="button" data-button-variant='primary' href="/request-a-speaker/">Request a Speaker</a>
            <a class="button" data-button-variant='secondary' href="/give/">Support Us</a>
            <a class="button" data-button-variant='tertiary' href="/email/">Newsletter</a>
        </div>
        <p>If you have any questions or just want to say hello, please don’t hesitate to contact us. We’ll get back to you soon.</p>
        <p>305 Vine Street Suite #3 Liverpool, NY, 13088</p>
    </header>

    <section class="repel">
        {% include "partials/contact-form.njk" %}
    <div class="flow">
        <img src="/assets/images/content/cropped-AILA-new-circle-logo2.png" alt="The American Indian Law Alliance logo is an eagle resting on the great tree of peace and the white roots of peace. The tree rests on the back of Turtle Island. A Haudenosaunee man and woman stand in front of the the tree holding the Hiawatha Belt.">
        <div class="cluster" style="--cluster-horizontal-alignment: center;">
            <a class="button" href="mailto:aila@aila.ngo">Email Us</a>
            <a class="button" href="/give/">Give</a>
            <a class="button" href="https://lakeback.org/">Lakeback</a>
        </div> 
    </div>
    </section>
</div>

