---
layout: base
permalink: /index.html
title: 'American Indian Law Alliance'
description: 'An NGO in consultative status with the United Nations Economic & Social Council (ECOSOC)'
advocating:
  - title: "Return Maple Bay"
    description: "Heal the Reciprocal Relationship Between Onondaga Lake and Onondaga Nation."
    linkText: "#Lakeback"
    link: "https://lakeback.org/"

  - title: "Doctrine of Discovery"
    description: "We are committed to confronting and combating the Doctrine of Discovery."
    linkText: "Doctrine of Discovery"
    link: "/issues/doctrine-of-discovery/"

  - title: "Canandaigua Treaty of 1794"
    description: "Advocating for the honoring of our treaty rights and protections."
    linkText: "Treaty of Canandaigua"
    link: "/issues/canandaigua-treaty-of-1794/"

  - title: "Original Instructions"
    description: "Over a thousand years ago on the shores of Onondaga Lake, a democracy that centered the rights of all living beings was born."
    linkText: "Original Instructions"
    link: "/issues/original-instructions/"

  - title: "Rights of Mother Earth"
    description: "We have a sacred obligation regarding our environment; these are ancient laws handed down from one generation to the next."
    linkText: "Rights of Mother Earth"
    link: "/issues/rights-mother-earth/"

  - title: "Two Row Wampum"
    description: "Two Row Wampum is a living treaty and a way for humans to live in harmony with one another and the natural world."
    linkText: "Two Row Wampum"
    link: "/issues/two-row-wampum/"

  - title: "Women’s Rights"
    description: "In Haudenosaunee Confederacy societies, women have always had a central role in governance and culture."
    linkText: "Women’s Rights"
    link: "/issues/womens-rights/"

  - title: "Sovereignty"
    description: "We have a sacred obligation regarding our environment; these are ancient laws handed down from one generation to the next."
    linkText: "Rights of Mother Earth"
    link: "/issues/rights-mother-earth/"

  - title: "International Advocacy"
    description: "The Haudenosaunee have participated in international diplomacy dating back to at least the League of Nations."
    linkText: "United Nations"
    link: "/about/our-history/league-of-nations-united-nations-participation/"
serviceSections:
  - title: "United Nations"
    services:
      - Global Indigenous Women’s Caucus.
      - Global Indigenous Peoples Caucus.
      - Indigenous Craft Fair.
    image: "/assets/images/content/nils-huenerfuerst-fqzMMzpoUs4-unsplash-1024x683.jpg"
    imageAlt: "United Nations HQ Photo by Nils Huenerfuerst on Unsplash"

  - title: "Social Services"
    services:
      - Language Courses.
      - Elders Lunch.
      - Food Boxes.
    image: "/assets/images/content/THE-WOMENS-ROAD-TO-HEALING-instagram.png"
    imageAlt: "Banner for The Women's Road to Healing"
---



<div class="wrapper">
  <header class="section">
    <div class="section__inner | wrapper flow region | text-center" style="--region-space: var(--space-2xl); --spot-color: none;">
        <h1 style="font-size: var(--size-step-5);">An NGO in consultative status with the United Nations Economic & Social Council (ECOSOC)</h1>
        <p>The American Indian Law Alliance (AILA) was founded in 1989; it is an Indigenous, non-profit, non-partisan organization that works with Indigenous nations, communities, and organizations in our struggle for sovereignty, human rights, and social justice for our peoples.</p>
      <div class="cluster" style="--cluster-horizontal-alignment: center;">
        <a class="button" data-button-variant='primary' href="/request-a-speaker/">Request a Speaker</a>
        <a class="button" data-button-variant='secondary' href="/contact/">Contact us</a>
        <a class="button" data-button-variant='tertiary' href="/category/events/">Upcoming events</a>
      </div>
    </div>
  </header>

  <section class="region full" style="--flow-space: var(--space-m); background: var(--color-purple-subdued); color: var(--color-gray-100);">
    <div class="wrapper flow">
      <article class="prose">
        <h2>A passion for sovereignty & healing all our relations</h2>
        <p>Advocating for Indigenous sovergnty and living in right and proper relationship with all living beings and our Mother the Earth.</p>
      </article>
        <ul class="grid" data-layout="thirds" role="list">
      	{% asyncEach item in advocating %}
        		<li>{% include "partials/card.njk" %}</li>
        	{% endeach %}
        </ul>
    </div>
  </section>

  <section>
    <figure class="frame"><img src="/assets/images/content/2.png" alt="Banner that says: Our Right to Sovereignty is non-negotiable"></figure>
  </section>

  <section class="region | flow" style="--flow-space: var(--space-m);">
    <article class="center | flow | text-center">
      <h2>Scope of Work</h2>
      <p>Protecting the Rights of Mother Earth, Empowering Indigenous Women & Children, Dismantling the Doctrine of Discovery, Advancing the Rights of Indigenous Peoples, and Public Education.</p>
      <a href="/services/" class="button">See All Services</a>
    </article>
  <div class="region stack">
    {% for section in serviceSections %}
      <div class="region | repel | sticky-container" style="--repel-vertical-alignment: start;" {% if (loop.index % 2 === 0) %}
        data-row-reverse
      {% endif %}>
        <article class="sticky-content hr-border">
          <h3>
            {{ section.title }}
          </h3>
          <ul class="flow" role="list" style="--gutter: 0.5em">
            {% for service in section.services %}
              <li class="cluster"><i class="icon | fa-solid fa-check"></i>{{ service }}</li>
            {% endfor %}
          </ul>
        </article>
        <img src={{ section.image }} alt={{ section.imageAlt }} class="rounded-medium" eleventy:widths="400, 600">
      </div>
    {% endfor %}
  </div>
  </section>

  <section class="region full" style="background: var(--color-teal-600); color: var(--color-light)">
   <div class="center | flow">
      <blockquote>
        <h2 style="font-size: var(--size-step-6)">How do you pollute your Mother the Earth?</h2>
    </blockquote>
    <div class="cluster">
        <img class="profile" src="/assets/images/content/Betty-Lyons-2020-150x150.jpg" alt="Executive director of the American Indian Law Alliance, Betty Hill (neé Lyons)">
        <cite>Betty Hill (neé Lyons) - Executive Director</cite>
    </div>
   </div>
   </section>

   <article class="region">
    <div class="center | flow | text-center">
      <h2>Stay engaged with our work</h2>
      <p>Visit our contact page to connect with our team directly.</p>
      <div class="cluster">
        <a class="button" data-button-variant='secondary' href="/contact/">Contact</a>
        <a class="button" data-button-variant='primary' href="/email/">Newsletter</a>
      </div>
    </div>
   </article>
</div>
