---
layout: tags
pagination:
  data: collections.categoriesPages
  size: 1
  alias: category
permalink: /category/{{ category.name }}/{% if category.pageNumber %}page/{{ category.pageNumber + 1 }}/{% endif %}
eleventyComputed:
  title: '{{ meta.blog.categoriesSingle }}: {{ category.name }}'
---

<custom-masonry layout="50-50">
  {% set itemList = category.pageData | reverse %}
  {% for item in itemList %}
        {% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>

  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% set keyAlias = category %}

  {% if category.totalPages !== 0 %}
    <!-- include pagination -->
    {% include 'partials/category-pagination.njk' %}
  {% endif %}

<h2 class="text-step-2">{{ meta.blog.categoriesMore }}</h2>

<ul class="categorieslist | my-s-m cluster gutter-s" role="list">
  {% for category in collections.categoriesList %}
    <li>
      <a
        href="/category/{{ category | slugify }}/"
        class="button"
        {{
          helpers.getLinkActiveState('/category/' + category | slugify + '/',
          page.url)
          |
          safe
        }}
      >
        {{ category }}
      </a>
    </li>
  {% endfor %}
</ul>