---
layout: tags
pagination:
  data: collections.tagPages
  size: 1
  alias: tag
permalink: /tag/{{ tag.name }}/{% if tag.pageNumber %}page/{{ tag.pageNumber + 1 }}/{% endif %}
eleventyComputed:
  title: '{{ meta.blog.tagSingle }}: {{ tag.name }}'
---

<custom-masonry layout="50-50">
  {% set itemList = tag.pageData | reverse %}
  {% for item in itemList %}
		{% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>

<h2 class="text-step-2">{{ meta.blog.tagMore }}</h2>

 <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if category.totalPages !== 0 %}
    <!-- include pagination -->
    {% set keyAlias = tag %}
    {% include 'partials/category-pagination.njk' %}
  {% endif %}

<ul class="taglist | my-s-m cluster gutter-s" role="list">
  {% for tag in collections.tagList %}
    <li>
      <a
        href="/tags/{{ tag | slugify }}/"
        class="button"
        {{
          helpers.getLinkActiveState('/tags/' + tag | slugify + '/',
          page.url)
          |
          safe
        }}
      >
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
