<section class="region">
  <nav role="navigation" aria-labelledby="pagination_label">
    <span id="pagination_label" hidden>{{ meta[metaKey].paginationLabel }}</span>
    <span id="prefix" hidden>{{ meta[metaKey].paginationPage }}</span>
    {# Special thanks to @MWDelaney and the 11ty community for helping solve the double pagination issue #}
    {# https://github.com/11ty/eleventy/discussions/3987 #}
    {# retrieve index of "current" page, save its value as currentPageIndex so we can reference it later #}


    {% set currentPageIndex = category.pageNumber %}
    {% set totalPages = category.totalPages %}

    {% set showPrevious = false %}
    {% set showNext = false %}

    {% if category.pageNumber !== 0 %}
        {% set showPrevious = true %}
    {% endif %}

    {% if category.pageNumber != category.totalPages %}
        {% set showNext = true %}
    {% endif %}

    <ol class="pagination | cluster" role="list">

    {% if showPrevious %}
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}"> {{ meta[metaKey].paginationPrevious }} </a>
        {% else %}
          {{ meta[metaKey].paginationPrevious }}
        {% endif %}
      </li>
    {% endif %}

    {% if meta[metaKey].paginationNumbers %}
    {%- for pageEntry in pagination.pages -%}

    {% if currentPageIndex == loop.index0 %}
      {% set currentPage = true %}
    {% else %}
      {% set currentPage = false %}
    {% endif %}

  {% if loop.index <= 1 %}
    {% set url = '/category/' + category.categoryName + '/' %}
      {% else %}
        {% set url = '/category/' + category.categoryName + '/page/' + loop.index + '/' %}
  {% endif %}

    {% if loop.index0 <= totalPages %}
          <li>
            <a
              href="{{ url }}"
              id="link_{{ loop.index }}"
              aria-labelledby="prefix link_{{ loop.index }}"
              {% if page.url == url %}aria-current="page"{% endif %}
            >
              {{ loop.index }}</a
            >
          </li>

           {% endif %}
        {%- endfor -%}
      {% endif %}


      {% if showNext %}
         <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">{{ meta[metaKey].paginationNext }}</a>
        {% else %}
          {{ meta[metaKey].paginationNext }}
        {% endif %}
      </li>
      {% endif %}
    </ol>
  </nav>
</section>

{% css "local" %}
  {% include "css/pagination.css" %}
{% endcss %}
