<header class="wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="repel ontop gutter-s">
    <a href="/" class="logo | cluster" {{ indicateActiveHome }}>
      <img src="/assets/images/org/logo/cropped-AILA-new-circle-logo-sm-150x150-1.png" alt="Oficial logo of the American Indian Law Alliance.">
      <span class="font-display">{{ meta.siteName }}</span>
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
