<is-land on:visible>
    <div>
      <!-- AddToAny BEGIN -->
      <a class="button | no-indicator | a2a_dd" href="https://www.addtoany.com/share">Share<i class="icon | fa-solid fa-share"></i></a>
      <script defer src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
</is-land>